<% provide(:title, "Help") %>

    <h1>Help</h1>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus lectus ac sem convallis sodales. Etiam tincidunt tellus vitae tincidunt ornare. Vivamus augue lacus, tempus placerat efficitur eget, eleifend nec neque. Cras eget pharetra eros. Nam mollis felis nec vestibulum rhoncus. Nullam facilisis arcu viverra erat consectetur hendrerit. Vivamus gravida porta accumsan. 
    </p>

